body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	width: 100%;
}
p
	{
	margin: .5em 0em .5em 0em;
	}
dl
	{
	margin-top: 0em; 
	padding-left: 1px; /* Prevents italic-letter descenders from being cut off */
	}
dd
	{
	margin-bottom: 0em;  
	margin-left: 1.5em; 
	}
dt
	{
	margin-top: .5em; 
	}
dd.popupbubble
	{
	margin-bottom: 0em;  
	margin-left: -10px; 
	}
dt.popupbubble
	{
	margin-top: .5em; 
	margin-left: -18px; 
	}
ol, ul
	{
	margin: .5em 0em 0em 2em; 
	}
li
	{
	margin-bottom: .5em;
	}
ul p, ol p, dl p
	{
	margin-left: 0em;
	}
blockquote.dxOverload
	{
	margin: .5em 1.5em .5em 1.5em;
	}
h1, h2, h3, h4
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: .4em; 
	margin-top: 1em;
	font-weight: bold;
	}
h1
	{
	font-size: 120%;
	margin-top: 0em;
	}
h2
	{
	font-size: 130%;
	}
h3
	{
	font-size: 115%;
	}
h4
	{
	font-size: 100%;
	}
.dxH1, .dxH2, .dxH3, .dxH4
	{
	margin-left: -18px;	
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: normal;
	}
A
{
    COLOR : #0000FF
}
A:link
{
    COLOR : #0000FF
}
A:active
{
    COLOR : #000080
}
A:visited
{
    COLOR : #800080
}
A:hover
{
    COLOR : #FF0000
}
A.parameter:visited, A.parameter:active
{
    COLOR : #0000FF
}
PRE.example
{
    FONT-FAMILY: Courier New;
    font-size: 9pt;
    COLOR: #000060;
    margin-top: 0px;
}
CODE, p.example, p.sourcecode, table.sourcecode, tr.sourcecode, td.sourcecode
{
    FONT-FAMILY: Courier New;
    font-size: 9pt;
    color: #000060;
}
div#pagetop
	{
	position: relative;
	left: 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999999;
	}
div#projectnamebanner
	{
	background-color: #DFDFDF;
	}
div#pagebody
	{
	padding: 5px 10px 0px 22px; 
	}
div#pagetitlebanner
	{
	width: 100%; 
	padding: 0px 10px 0px 22px; 
	background-color: #DFDFDF;        
	}	
table.projectnametable
	{
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 95%;
	height: 21px; 
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	background-color: #DFDFDF; 
	font-size: 100%;
	}
table.projectnametable td 
	{
	align: left;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 4px;
	vertical-align: middle;
	border-width: 0px
	border-style: solid;
	border-color: #999999;
	background-color: transparent; 
	font-style: italic;
	font-weight: normal;
	}
table.projectnametable td.button
	{
	width: 14px;
	cursor: hand;
	}
div.popupbubble
	{
	left: 4px;
	position: absolute;
	padding: 0px 8px 5px 26px;
	z-index: 1;
	width: 50%;
	visibility: hidden;
	border: 1px solid #999999;
	background-color: #ffffcc;
	}	
table.filtereditemlisttable, table.xmldoctable
	{
	width: 90%; 
	margin-top: .6em;
	margin-bottom: .3em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 100%;
	}
table.eventproceduretable
	{
	margin-top: .6em;
	margin-bottom: .3em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 100%;
	}
table.filtereditemlisttable th, table.filtereditemlisttable td, table.xmldoctable th, table.xmldoctable td, table.eventproceduretable th, table.eventproceduretable td
	{ 
	border-style: solid; 
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
	}
table.filtereditemlisttable th, table.xmldoctable th, table.eventproceduretable th
	{ 
	background-color: #cccccc; 
	vertical-align: bottom;
	}

table.filtereditemlisttable td, table.xmldoctable td, table.eventproceduretable td
	{
	background-color: #ffffff;
	vertical-align: top;
	}
td.newlinkcell, td.newmembernamecell, div.newTopic
{
	background-repeat: no-repeat; background-position: left top ; background-image:url('../aximages/isnew.gif')
}	
table.syntaxtable
	{
	width: 70%; 
	margin-top: .6em;
	margin-bottom: .3em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 100%;
	}
table.syntaxtable th, table.syntaxtable td
	{ 
	border-style: solid; 
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	padding: 4px 6px;
	text-align: left;
	}
table.syntaxtable th	
	{ 
	background-color: #cccccc; 
	vertical-align: bottom;
	}
table.syntaxtable td	
	{
	background-color: #ffffff;
	vertical-align: top;
	}	
pre.syntax
	{
	background-color: #cccccc;
	padding: 4px 8px;
	cursor: text;
	margin-top: 1em;
	margin-bottom: 1em; 
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	}
table
	{
	border-collapse: collapse;
	font-size: 100%
	}	
/* VB source code colorization */
code.VB
{
    color: #000000;
}
.keyword {
	color: Navy;
}

.comment {
	color: Green;
}

.string {
	color: Gray;
}